{{!-- when click on post, this page renders and shows post details and option to submit comment--}}
<div class="singlePost" >
  <h2>{{name}}</h2>
  <p>{{description}}</p>
  <p>Created by {{user.name}} on {{format_date date_created}}</p>
</div>
{{#if logged_in}}
{{!-- add a comment submit form --}}
<div class="addComment">
  <form class="newCommentForm">
            <div class="form-group">
                <label for="commentLabel">Add Comment</label>
                <input class="commentInpt" type="text" />
            </div>
            <div class="form-group">
                <button class="comment-btn btn-primary" type="submit">submit</button>
            </div>
        </form>
</div>
{{#if comments.length}}
<div class="AllComments">
  <h3>Comments</h3>
</div>
{{#each comments as |comment|}}
<div class="Onecomment">
  <p>{{user.name}}
    {{comment.content}}
    {{format_date comment.date_created}} </p>
</div>


<script src="/public/js/Post.js"></script>