{{!-- when logged in this is users profile --}}
<div class="row">
    <div class="name">
        <h2>Welcome, {{name}}!</h2>
    </div>
</div>

<div class="break">
    <div>
        <h3>Post something new</h3>
        <form class="form new-project-form">
            <div class="form-group">
                <label for="project-name">Title</label>
                <input class="form-input" type="text" id="newPost"  placeholder="title" />
            </div>
            <div class="form-group">
                <label for="project-desc"></label>
                <textarea class="form-input" id="postText"  placeholder="What's on your mind"
                    style="width: 600px; height: 400px;"></textarea>
            </div>
            <div class="form-group">
                <button type="submit" class="post-btn btn-primary">Post</button>
            </div>
        </form>
    </div>

    {{#if posts.length}}
    <div class="col-md-6 post-list">
        <h3>Posts:</h3>

        {{#each posts as |post|}}
        <div class="row mb-2">
            <div class="col-md-8">
                <h4><a href="/post/{{post.id}}">{{post.name}}</a></h4>
            </div>
            <div class="col-md-4">
                <button class="btn btn-sm btn-danger" data-id="{{post.id}}">DELETE</button>
                <button class="editBtn btn-sm btn-primary" editDataId="{{post.id}}">Edit</button>
            </div>
        </div>
{{!-- edit post form --}}
         <form class="form editPost" editForm="{{post.id}}">
            <h3>Edit Post Here:</h3>
            <div class="form-group">
                <label for="project-name">Title</label>
                <input class="form-input" type="text" id="editPostName{{post.id}}" name="project-name" value="{{post.name}}"/>
            </div>
            <div class="form-group">
                <label for="project-desc"></label>
                <textarea class="form-input" id="EditpostText{{post.id}}" name="project-desc" value="{{post.description}}" 
                    style="width: 600px; height: 400px;"></textarea>
            </div>
            <div class="form-group">
                <button type="submit" EditBtnId="{{post.id}}" class="postEditbtn btn-primary">Edit</button>
            </div>
        </form>
        {{/each}}
    </div>
    {{/if}}
</div>

<script src="./js/profile.js"></script>